node_modules
.DS_Store
.trunk
config.mjs
src/servers.js
node_module
.DS_Store
.trunk
meshtastic.taubetele.com

# Environment variables
.env
.env.local
.env.production
.env.development

# Build output
dist/